@model SIMS_Demo.Models.Student

@{
    ViewData["Title"] = "Edit Student";
}

<h1>Edit Student</h1>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="DoB">Date of Birth</label>
        <input asp-for="DoB" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Class"></label>
        <input asp-for="Class" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
